/.vs/Compiler/DesignTimeBuild/.dtbcache
/.vs/Compiler/v15/.suo
/.vs/Compiler/v15/Server/sqlite3/db.lock
/.vs/Compiler/v15/Server/sqlite3/storage.ide
/.vs/Compiler/v15/Server/sqlite3/storage.ide-shm
/.vs/Compiler/v15/Server/sqlite3/storage.ide-wal
/Compiler.sln
/Compiler/bin/Debug/netcoreapp2.1/Compiler.deps.json
/Compiler/bin/Debug/netcoreapp2.1/Compiler.dll
/Compiler/bin/Debug/netcoreapp2.1/Compiler.pdb
/Compiler/Compiler.csproj
/Compiler/obj/Compiler.csproj.nuget.cache
/Compiler/obj/Compiler.csproj.nuget.g.props
/Compiler/obj/Compiler.csproj.nuget.g.targets
/Compiler/obj/Debug/netcoreapp2.1/Compiler.AssemblyInfo.cs
/Compiler/obj/Debug/netcoreapp2.1/Compiler.AssemblyInfoInputs.cache
/Compiler/obj/Debug/netcoreapp2.1/Compiler.assets.cache
/Compiler/obj/Debug/netcoreapp2.1/Compiler.csproj.CoreCompileInputs.cache
/Compiler/obj/Debug/netcoreapp2.1/Compiler.csproj.FileListAbsolute.txt
/Compiler/obj/Debug/netcoreapp2.1/Compiler.csprojAssemblyReference.cache
/Compiler/obj/Debug/netcoreapp2.1/Compiler.dll
/Compiler/obj/Debug/netcoreapp2.1/Compiler.pdb
/Compiler/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Compiler/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Compiler/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Compiler/obj/project.assets.json
/tests/bin/Debug/netcoreapp2.1/Compiler.dll
/tests/bin/Debug/netcoreapp2.1/Compiler.pdb
/tests/bin/Debug/netcoreapp2.1/tests.deps.json
/tests/bin/Debug/netcoreapp2.1/tests.dll
/tests/bin/Debug/netcoreapp2.1/tests.pdb
/tests/bin/Debug/netcoreapp2.1/tests.runtimeconfig.dev.json
/tests/bin/Debug/netcoreapp2.1/tests.runtimeconfig.json
/tests/bin/Debug/netcoreapp2.1/xunit.runner.reporters.netcoreapp10.dll
/tests/bin/Debug/netcoreapp2.1/xunit.runner.utility.netcoreapp10.dll
/tests/bin/Debug/netcoreapp2.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
/tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/tests/obj/Debug/netcoreapp2.1/tests.AssemblyInfo.cs
/tests/obj/Debug/netcoreapp2.1/tests.AssemblyInfoInputs.cache
/tests/obj/Debug/netcoreapp2.1/tests.assets.cache
/tests/obj/Debug/netcoreapp2.1/tests.csproj.CopyComplete
/tests/obj/Debug/netcoreapp2.1/tests.csproj.CoreCompileInputs.cache
/tests/obj/Debug/netcoreapp2.1/tests.csproj.FileListAbsolute.txt
/tests/obj/Debug/netcoreapp2.1/tests.csprojAssemblyReference.cache
/tests/obj/Debug/netcoreapp2.1/tests.dll
/tests/obj/Debug/netcoreapp2.1/tests.pdb
/tests/obj/Debug/netcoreapp2.1/tests.Program.cs
/tests/obj/project.assets.json
/tests/obj/tests.csproj.nuget.cache
/tests/obj/tests.csproj.nuget.g.props
/tests/obj/tests.csproj.nuget.g.targets
/tests/tests.csproj
